/*DETTA ÄR MOBIL*/
@media only screen and (min-width: 320px) {
	body {
		background: url("Cv2.jpg") no-repeat center;
		max-width: 250px;
		}
	.Topp {
		font-size: 20px;
	}
	.Geojobb {
		color: green;
		font-family: arial;
		/*font-size: 50px;*/
	}
	.Georeljobb {
		color: green;
		font-family: arial;
		}	
	.Andrajobb {
		color: green;
		font-family: arial;
		}
}	
	
/*DETTA ÄR PADDA*/
@media only screen and (min-width: 768px) {
	body {
		background: url("Cv2.jpg") no-repeat center;
		max-width: 175px;		}
	}

/*DETTA ÄR PC*/
@media only screen and (min-width: 1039px) {
	body {
		background: url("Cv2.jpg") no-repeat center;
		max-width: 2000px;
		}
		
	}