h1{
	font: garamond;
	font-size: 40px;
	color: #8099b3
}

.middle-container   {
    display: inline-block;
    width: 65%;
    margin: auto;
    font: helvetica;
    font-size: 20px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;
    margin-right: 50px;
    margin-left: 150px;
    background-color: rgba(255,255,255, 0.3);

 }
html {
    background: url(scen7.jpeg) no-repeat center; 
    border: 30px grey;
    padding: 35px;
    background-clip: content-box;
    background-color: #8099b3;
}
.header {
    font: ariel;
}
.footer{
    position:absolute;
    bottom:0;
    right: 0;
    left:0; 
    height: 125px;
}
